[% INCLUDE header_include.tt %]

<div>
<h2>[% wiki.name %]</h2>
<div>[% wiki.description %]</div>
</div>

<div>
<form action="/wiki/[% wiki.id %]?X-HTTP-Method=DELETE" method="POST">
<input class="button" type="submit" value="Delete this page">
</form>
</div>

<div>
Back to the <a href="/">Wiki home page</a>.
</div>
   
[% INCLUDE footer_include.tt %]
